body {
	margin: 3rem auto 10rem;
	max-width: 750px !important;
}

pre > code {
	padding-top: 0 !important;
	margin-top: 0 !important;
}

.post {
	margin-bottom: 2rem;
}

.post-title > h2 {
	margin-bottom: 0;
}

.tags-list {
	font-size: 1.4rem;
	margin-top: 0;
}

.tags-list > li {
	display: inline;
	padding-right: 2rem;
}

.list h2 small {
	font-size: 2rem;
	margin-left: 1rem;
	word-spacing: 1rem;
}

.list > .post-body {
	overflow: hidden;
	margin-right: 0;
	height: 2.5rem;
	min-width: 0;
	width: 100%;
}

.list > .post-body > p {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.post img {
	border: 1px solid #bbb;
	padding: 2px;
}

.content-block {
	margin-top: 2rem;
}
	
