@import url('https://fonts.googleapis.com/css?family=Raleway:400,400i,700');

body {
	font-family: "Raleway", sans-serif;
	background: #85144b;
}

#header-container, #tag-cloud-container, #footer, #main {
	padding: 0 1rem 0 1rem;
}

h1, h2, h3, h4, #tag-cloud p { }

a {
	color: #85144b;
}

#header-container {
	background: #85144b;
}

#header {
	margin: 0 auto;
	padding: 14rem 0 4rem 0;
	max-width: 750px !important;
}

#header a {
	color: #01FF70;
}

#header a:hover {
	color: #2ECC40;
}

#tag-cloud-container {
	background: #01FF70;
}

#tag-cloud {
	margin: 0 auto;
	padding: 2rem 1rem 2rem 1rem;
	max-width: 750px !important;
}

#tag-cloud p {
	margin: 0;
	font-size: 1.4rem;
	color: #85144b;
}

#tag-cloud > p > .tag {
	font-size: 1.4rem;
}

#main-container {
	background: #fff;
}

#main {
	margin: 0 auto;
	padding: 4rem 1rem 4rem 1rem;
	max-width: 750px !important;
}

.blog-title h1 {
	margin-bottom: 0;
	font-size: 3.4rem;
}

@media (min-width: 40.0rem) {
	.blog-title h1 {
		font-size: 5rem !important;
	}
}

.blog-title > h1 > a {
	padding-right: 1.4rem;
}

.blog-title > h1 > small > a {
	padding-right: 0.8rem;
}

@media (min-width: 40.0rem) {
	#header-links, #metadata-tags {
		display: inline-block;
	}
}

#blog-strapline p {
	font-size: 1.2rem;
	color: #ddd;
}

@media (min-width: 40.0rem) {
	#blog-strapline p {
		font-size: 1.6rem !important;
	}
}

.metadata {
	text-align: right;
	border-top: 1px solid #eee;
	font-size: 1rem;
	color: #bbb;
	padding-top: 0.5rem;
	margin-bottom: 2rem;
}

.metadata-tags {
	display: inline;
	font-size: 1.4rem;
	margin-top: 0;
	margin-left: 1rem;
}

.metadata-slug, .metadata-datetime {
	padding-left: 1.4rem;
}

.metadata a {
	color: #666;
}

.list h2 small {
	font-size: 2rem;
	margin-left: 1rem;
	word-spacing: 0.2rem;
}

.tag {
	display: inline-block;
	font-size: 2rem;
	padding-right: 1.4rem;
}

.list > .post-body {
	overflow: hidden;
	margin-right: 0;
	height: 2.5rem;
	min-width: 0;
	width: 100%;
}

.list > .post-body > p {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	margin: 0;
	padding: 0;
}

.list > .post-body img {
	display: none;
}

#tag-cloud > p > strong {
	font-weight: strong;
	padding-right: 2rem;
}

.content-block {
	margin-top: 4rem;
}

.post {
	margin-bottom: 4rem;
}

.post-title > h2 {
	margin-bottom: 0;
}

.post img {
	border: 1px solid #bbb;
	padding: 2px;
	width: 100%;
}

#footer-container {

}

#footer {
	font-size: 1.2rem;
	color: #ddd;
	margin: 0 auto;
	padding: 12rem 1rem 4rem 1rem;
	max-width: 750px !important;
}

@media (min-width: 40.0rem) {
	#footer {
		font-size: 1.6rem !important;
	}
}

#footer p {
	margin: 0;
}

#footer a {
	color: #fff;
}

.light-grey {
	color: #aaa;
}

pre > code {
	padding-top: 0 !important;
	margin-top: 0 !important;
}
