# don't show directory listings, follow symlinks
Options -Indexes
Options +FollowSymLinks

# Disable magic quotes because they're a terrible idea
<IfModule mod_php5.c>
 php_flag magic_quotes_gpc off
</IfModule>


<IfModule mod_rewrite.c>
	RewriteEngine on

	# one rule to rule them all -- everything not in /blog and without a period
	RewriteRule ^([\w\d_\-\/]+)$ index.php [QSA,L]

</IfModule>
