<!doctype HTML>
<html>
<head>
	<title>blog</title>
	<link rel="stylesheet" type="text/css" href="/{{ base_path }}css/default.css">
</head>
<body>

	<div class="content-block">
	{{# post }}{{ post }}{{/ post }}
	</div>

</body>
</html>
