<div class="post">
	{{# title }}
	<div class="post-title">
		<h2 class="post-title-header">{{ title }}</h2>
	</div>
	{{/ title }}

	{{# content }}
	<div class="post-body">
		{{ content }}
	</div>
	{{/ content }}

</div>

