<!doctype HTML>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{{# name }}{{ name }} / {{/name}}{{ blog_title }} / blog</title>
	<base href="{{base_path}}">
	<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
	<link rel="stylesheet" href="//cdn.rawgit.com/necolas/normalize.css/master/normalize.css">
	<link rel="stylesheet" href="//cdn.rawgit.com/milligram/milligram/master/dist/milligram.min.css">
	<link rel="stylesheet" type="text/css" href="{{ base_path }}css/default.css?cachebuster={{unix_timestamp}}">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
</head>
<body>
<div id="page-container">

	<div id="header-container"><div id="header">
		<div class="blog-title">
			<h1>
				<a href="{{base_path}}">{{ blog_title }}</a>

				{{#header_links}}
					<div id="header-links">
						{{#header_links.values}}
							<small><a href="{{url}}" target="_blank">{{text}}</a></small>
						{{/header_links.values}}
					</div
				{{/header_links}}
			</h1>
		</div>

		{{#blog_strapline}}
			<div id="blog-strapline">
				<p>{{blog_strapline}}</p>
			</div>
		{{/blog_strapline}}
	</div></div>


	<div id="main-container"><div id="main">
		<div class="content-block">
			{{# post }}{{ . }}{{/ post }}
		</div>
	</div></div>



	<div id="tag-cloud-container"><div id="tag-cloud">
		{{#tag_cloud}}
		<p><strong>Tag cloud</strong>
			{{#tag_cloud.values}}
				<span class="tag"><i class="fas fa-tag"></i> {{name}} <small>({{count}})</small></span>
			{{/tag_cloud.values}}
		</p>
		{{/tag_cloud}}
	</div></div>


	<div id="footer-container"><div id="footer">
		<p>
			The source code for this blog is available at&nbsp;
			<a href="https://github.com/rumorsmatrix/blog" target="_blank"><i class="fab fa-github"></i> rumorsmatix/blog</a>.
		</p>
	</div></div>

</div>
</body>
</html>
