<div class="post list">

	{{# metadata.title }}
	<div class="post-title">
		<h2>
			<a href="{{base_path}}post/{{metadata.slug}}">{{ metadata.title }}</a>
			{{# metadata.tags }}
				<div class="metadata-tags">
					{{# metadata.tags.values }}<span class="tag"><i class="fas fa-tag light-grey"></i> {{ . }}</span>{{/ metadata.tags.values }}
				</div>
			{{/ metadata.tags }}
		</h2>
	</div>
	{{/ metadata.title }}

	{{# content }}
		<div class="post-body">{{ content }}</div>
        {{/ content }}

</div>
